@font-face {
  font-family: "KumbhSans-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/KumbhSans-Bold.woff2") format("woff2"),
       url("fonts/KumbhSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "KumbhSans-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/KumbhSans-Regular.woff2") format("woff2"),
       url("fonts/KumbhSans-Regular.woff") format("woff");
}
@mixin desktop {
  @media (min-width: (1025px)) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: (1024px)) {
    @content;
  }
}
@mixin small-tablet {
  @media (max-width: (768px)) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: (576px)) {
    @content;
  }
}

$base-color-bold: #2E3349;
$base-color-regular: #6B7082;


html {
   box-sizing: border-box;
 }
 
 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }
 
 body {
   margin: 0;
 
 }
 h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
 }
 p{
   margin: 0;
   padding: 0;
   
 }
 picture{
   display: inline-block;
   width: 100%;
   height: 100%;
 }
 .main{
   background:url('../img/desc-bg.jpg');
   background-repeat: no-repeat;
   background-position: left;
   position: relative;
background-size: cover;
 @include mobile{
 background:url('../img/mobile_bg.jpg');
 background-position: left;
 background-size: cover;
 width: 100%;
 background-repeat: no-repeat;
 }
 }
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-bold{
  text-align: center;
  display: block;
  font-size: 18px;
  font-family:"KumbhSans-Bold";
  font-style: normal;
  font-weight: 700;
  color: $base-color-bold;
}
.text-regular{ 
  text-align: center;
  display: block;
  font-size: 14px;
  font-family: "KumbhSans-Regular";
  font-style: normal;
  font-weight: 400;
  color: $base-color-regular;
}
.cart{
  max-width: 350px;
  width: 100%;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
border-radius: 15px;
background-color: #fff;
@include mobile{
  max-width: 300px;
  }
  &__img{
    position: absolute;
    transform: translateY(-50%);
    left: calc(50% - 43px);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    &::after{
      content: '';
      position: absolute;
      width: 105px;
      height: 105px;
      background-color: #fff;
      border-radius: 50%;
     right: -5px;
     bottom:-5px;
      z-index: -1;
    
    }
    img{
      width: 100%;
      height: 100%;
      display: inline-block;
       border-radius: 50%;
       object-fit: cover;
    }
  }
}
.cart__bg{
  position: relative;
  background: url('../img/bg_card.webp') no-repeat top;
  height: 140px;
  background-size: contain;
  overflow: hidden;
  width: 100%;

}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;

 
  &__bottom{
   width: 100%;
   padding: 19px 0;
   border-top: 1px solid #E8E9EC;
   display: flex;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-wrap: nowrap;
   justify-content:center;
  }
 
}
.user{
  padding-top: 72px;
  padding-bottom: 28px;
  &__name-wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  &__age{
    font-size: 18px;
  margin-left: 9px;
  color: $base-color-regular;
  font-family: "KumbhSans-Regular";
  font-style: normal;
  font-weight: 400;
  }
  &__city{
    display: block;
    text-align: center;
    color: $base-color-regular;
 font-size: 14px;
font-family: "KumbhSans-Regular";
  font-style: normal;
  font-weight: 400;
  }
}
.digital{
  &__wrap{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
width: 100%;
padding: 0 50px;
  }
  &__item{
    width: 65px;
  }
  &__item-number{
    margin-bottom: 9px;
  }
}

